.main_container {
  //max-width: 1920px;
  height: 1080px;
  //background: red;

  @media screen and (max-width: 1440px) {
    width: 1440px;
    height: 840px;
  }
  @media screen and (max-width: 1024px) {
    width: 1024px;
    height: 730px;
  }
}


.first_slider_box {
  width: 100%;
  height: 100%;
  @include box;
  display: flex;

  .change_line {
    @include box;
    position: relative;
    //border: 1px solid black;
    width: 25%;
    //background-image: url(../img/bg_22.jpg);
    //-webkit-background-size: cover;
    //background-size: cover;
    //background-repeat: no-repeat;

  }

  .change_line_cover{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
  }

  .change_line_bg {
    width: 100%;
    height: 100%;
    transition: 0.5s;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    opacity: 0;
  }

  .change_line_bg_2 {
    opacity: 1;
    background-image: url(../img/bg_22.jpg);
  }

  .change_line_bg_3 {
    background-image: url(../img/bg_33.jpg);
  }

  .change_line_bg_1 {
    background-image: url(../img/bg_11.jpg);
  }

}


//menu

.menu_wrap {
  width: 100%;
  height: 100px;
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  @include box;
  flex-direction: row;
  color: #ffffff;


  @media screen and (max-width: 1440px) {
    height: 50px;
  }
}

.btn_chahge {
  width: 5%;
  text-align: center;
  line-height: 55px;
  border: 1px solid black;
  cursor: pointer;

  &:hover {
    border-color: white;
  }
}